#home1 {
  background-color: white;
  background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.svgrepo.com%2Fsvg%2F309493%2Fdark-theme&psig=AOvVaw3HEez-IzkkSjZ8Lwc7diPn&ust=1692539265136000&source=images&cd=vfe&opi=89978449&ved=0CBAQjRxqFwoTCOii_J7u6IADFQAAAAAdAAAAABAE");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: left top;
}
